<tr>
  <td><%= category.name %></td>
  <td><%= category.meal_ammount %></td>
  <td><%= category.created_at %></td>
  <td> <%= link_to "editar", edit_meal_category_path(category), class: "editar"%></td>
  <td> <%= link_to "excluir", category, method: :delete, class: "excluir" %> </td>
</tr>