<%= form_with model: @meal, local: true do |f| %>
  <div class="form-item half-size -left">
    <%= f.label "Nome", class: "form-legenda" %>
    <%= f.text_field :name, class: "input-text form-control" %>
  </div>

  <div class="form-item half-size -right">
    <%= f.label "Categoria", class: "form-legenda" %>
    <%= collection_select(:meal, :meal_category_id, MealCategory.all, :id, :name, {:prompt => 'Selecione a categoria da refeição'}, class: 'form-control')%>
  </div>
  
  <div class="form-item">
    <%= f.label "Descrição", class: "form-legenda" %> <br>
    <%= f.text_area :description, class: "input-text form-control"  %>
  </div>
  
  <div class="form-item">
    <%= f.label "Preço", class: "form-legenda" %> <br>
    <%= f.text_field :price, class: "input-text form-control" %>
  </div>
  
  <div class="form-item">
    <%= f.label "Foto", class: "form-legenda" %>
    <%= f.file_field :image, class: "form-control file-input" %>
  </div>
  
  <%= f.submit "Criar Refeição", class: "button submit" %>
  <%= link_to "voltar", meals_path, class: "button" %>
<% end %>