<!DOCTYPE html>
<html>
  <head>
    <title>Dinnerdash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="devise-message -notice" id="devise-notice"><%= notice %></p>
      <script type="text/javascript">
        const notice = document.getElementById("devise-notice")
        setTimeout(() => { notice.remove() }, 3000)
      </script>
    <% end %>
    <% if alert %>
      <p class="devise-message -alert" id="devise-alert"><%= alert %></p>
      <script type="text/javascript">
        const notice = document.getElementById("devise-alert")
        setTimeout(() => { notice.remove() }, 3000)
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
